{% extends 'base.html' %}

{% block head %}
<title>Window62</title>
<meta http-equiv="refresh" content="5" >
{% endblock %}

{% block body %}
  <div class="head" >
      <a href="/">
      <button class="head-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16" color="white">
              <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
          </svg>
      </button>
      </a>
      <h1 class="head-text" >{{object.obj_name}} Control</h1>
  </div>

  <div class="container" style="max-width: 500px;">
      <div class="btn-box" >
          <div class="status d-flex align-items-end flex-column bd-highlight mb-3">
            <div class="align-self-center">
                <a href="/object/{{object.obj_id}}/status/open"><button class="btn-control">Open</button></a>
                <a href="/object/{{object.obj_id}}/status/close"><button class="btn-control">Close</button></a>
            </div>
          </div>
      </div>
      <div class="container center" >
          <p>Current Status</p>
          <div class="status-round">
              <h1>{{object.obj_status}}</h1>
          </div>
      </div>

      <div class="sensor-box">
          <div class="row">
              <span class="vertical-line1"></span>
              <span class="vertical-line2"></span>
              {% for sensor in sensors %}
              {% if sensor.obj_id == object.obj_id %}
              <div class="col">
                  <p>{{ sensor.sensor_name}}</p>
                  {% if sensor.sensor_name == "LDR" %}
                  <span>{{ lightData }} {{sensor.sensor_unit}}</span>
                  {% elif sensor.sensor_name == "Temperature" %}
                  <span>{{ tempData }} {{sensor.sensor_unit}}</span>
                  {% elif sensor.sensor_name == "Humidity" %}
                  <span>{{ humidityData }} {{sensor.sensor_unit}}</span>
                  {% elif sensor.sensor_name == "Dust" %}
                  <span>{{ pm25Data }} {{sensor.sensor_unit}}</span>
                  {% endif %}
              </div>
              {% endif %}
              {% endfor %}
          </div>
      </div>
      <div class="container" style="max-width: 500px;">
      <a href="/object/{{object.obj_id}}/setup">
      <button class="set-box" >
          <div class="row" >
            <p class="col">Set Condition</p>
              <p class="col right">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
                    </svg></p></div>
      </button>
      </a>
      <br>
      <a href="/object/{{object.obj_id}}/settime">
      <button class="set-box">
          <div class="row">
            <p class="col">Set Time</p>
              <p class="col right">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
                </svg></p></div>
      </button>
      </a>
  </div>
  </div>
{% endblock %}