{% extends 'base.html' %}

{% block head %}
<title>Window62</title>
<meta http-equiv="refresh" content="5" >
{% endblock %}

{% block body %}
<div class="container-fluid object-bar">
    <br>
    <div class="row">
      <br><br>
        {% for object in objects%}

      <div class="col-md-6">
        <div class="card card-height" >
          <div class="card-object center"><br>
              <h4 class="card-title" >{{ object.obj_name }}</h4>
              <h5 class="card-text" > {{ object.obj_status }} </h5>
          </div>
          <br>
          <div class="card-object">
            <h4 class="left">{{ object.obj_name }}'s Sensor</h4>
            <br>
              <div class="row left">
                {% for s in sensors %}
                    {% for sensor in s %}
                        {% if sensor.obj_id == object.obj_id %}
                        <!-- <div class="col-md-4"> -->
                            <div class="left" >
                                <h5 class="col-md-4 card-title " style="display: inline;">{{ sensor.sensor_name}}</h5>
                                {% if sensor.sensor_name == "LDR" %}
                                    <h6 class="col-md-4" style="display: inline;">{{ lightData }} {{sensor.sensor_unit}}</h6>
                                {% elif sensor.sensor_name == "Temperature" %}
                                    <h6 class="col-md-4" style="display: inline;">{{ tempData }} {{sensor.sensor_unit}}</h6>
                                {% elif sensor.sensor_name == "Humidity" %}
                                    <h6 class="col-md-4" style="display: inline;">{{ humidityData }} {{sensor.sensor_unit}}</h6>
                                {% elif sensor.sensor_name == "Dust" %}
                                    <h6 class="col-md-4" style="display: inline;">{{ pm25Data }} {{sensor.sensor_unit}}</h6>
                                {% endif %}
                                <br>
                                <br>
                            </div><hr/>
                            <br>
                            
                        <!-- </div> -->
                        {% endif %}
                    {% endfor %}
                {% endfor %}
              </div>  
          </div>
          <div class="card-object center bottom">
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
              <a href="/object/{{object.obj_id}}/status/open"><button type="button" class="btn btn-primary">Open</button></a>
              <a href="/object/{{object.obj_id}}/status/close"><button type="button" class="btn btn-success" >Close</button></a>
              <a href="/object/{{object.obj_id}}/setup"><button style="color: white;" type="button" class="btn btn-secondary" >Setup</button></a>
            </div>
          </div>
        </div>
      </div>
      <br>
      {% endfor %}

    </div>


</div>

{% endblock %}

